<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="heart.project.repository.mybatis.MemberActionMapper">

    <insert id="save">
        insert into member_action (action_id, member_id, status, before_emotion,
        before_emotion_time, created_at, created_by, updated_at, updated_by)
        values (#{actionId}, #{memberId}, '진행중', #{beforeEmotion},
        TO_CHAR(CURRENT_TIMESTAMP, 'HH24'), CURRENT_TIMESTAMP, '행동 진행', CURRENT_TIMESTAMP, '행동 진행')
    </insert>

    <select id="findNewMemberAction" resultType="MemberAction">
        select ma.member_action_id, ma.action_id, ma.member_id, ma.status, ma.before_emotion, ma.after_emotion, a.action
        from member_action ma
        LEFT JOIN action a ON ma.action_id = a.action_id
        where member_action_id = (select max(member_action_id) from member_action)
    </select>

    <update id="completeMemberAction">
        update member_action
        set status='완료',
        after_emotion=#{updateParam.afterEmotion},
        after_emotion_time=TO_CHAR(CURRENT_TIMESTAMP, 'HH24'),
        updated_at=CURRENT_TIMESTAMP,
        updated_by='행동 완료'
        where member_action_id = #{memberActionId}
    </update>

    <select id="findOngoingActionsByMemberId" resultType="MemberAction">
        select ma.member_action_id, ma.action_id, ma.member_id, ma.status, ma.before_emotion, ma.after_emotion, a.action
        from member_action ma
        LEFT JOIN action a ON ma.action_id = a.action_id
        where ma.member_id = #{memberId} and ma.status = '진행중'
        order by ma.created_at
    </select>

    <select id="findCompletedActionsByMemberId" resultType="MemberAction">
        select ma.member_action_id, ma.action_id, ma.member_id, ma.status, ma.before_emotion, ma.after_emotion, a.action
        from member_action ma
        LEFT JOIN action a ON ma.action_id = a.action_id
        where ma.member_id = #{memberId} and ma.status = '완료'
        order by ma.updated_at
    </select>

    <select id="findFeelBetterActions" resultType="MemberAction">
        select ma.member_action_id, ma.action_id, ma.member_id, ma.status, ma.before_emotion, ma.after_emotion, a.action
        from member_action ma
        LEFT JOIN action a ON ma.action_id = a.action_id
        where ma.member_id = #{memberId}
              and ma.status = '완료'
              and ma.before_emotion NOT IN ('joy', 'hope')
              and ma.after_emotion IN ('joy', 'hope')
        order by
            CASE ma.after_emotion
                WHEN 'joy' THEN 1
                WHEN 'hope' THEN 2
            END
        FETCH FIRST 2 ROWS ONLY
    </select>

</mapper>
